body {
	background-color: #e9f5dc;
	font-size: 17px;
}

#content {
	margin: 0 auto;
	width: 900px;
	background-color: white;
	text-align: justify;
	box-shadow: 0px 0px 3px 0px #333;
    border-radius: 4px;
    padding: 20px;
}

.box {
	border: 1px solid #ADA7A7;
	border-radius: 4px;
	margin: 10px;
	padding: 10px;

}

header {
	text-align: center;
}
h1 {
	font-size: 34px;
}
h1, h2, h3 {
	font-family: Sans-serif;
}

table, th, td {
    width: 800px;
    border: solid 1px black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 7px;
    text-align: left;
}

ul.listeBullet {
    list-style-type: disc;
}

figcaption {
	font-style: italic;
	font-size: 15px;
	text-align: center;
}

.mockup {
	margin-left: 120px;

}

table th:first-child {
	max-width: 5px;
}

table tr th + td {
	max-width: 5px;
}
