html {
	height: 100%;
}

body {
	font-size: 14pt;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

p {
	font-family: serif;
}

h1 {
	font-family: sans-serif;
	font-size: 22pt;
}

h2 {
	font-family: sans-serif;
	font-size: 18pt;
}

#page{
	background-color: #78FB64;
	position: absolute;
	min-height: 100%;
	height: auto;
	padding: 10px;
	width: 100%;
}

header {
	margin-top: 0;
	padding-top: 0;
}

#headerContent{
	font-family: sans-serif;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
	width: 100%;
	background-color: #D6D9DB;
	height: 100px;
}

.fixed {
	position: fixed;
	top: 0;
}

#navBar {
	background-color: #313130;
	height: 50px;
	width: 100%;
	font-family: sans-serif;
}

#navList {
	font-size: 22px;
	width: 1000px;
	margin: 0 auto;
	padding-left: 0;
	
}

#navlist ul {
	list-style: none;
  	padding: 0;
  	margin: 0;

}

#navList > li {
	text-align: center;
	padding-left: 0;
	display: inline-block;
	color: #FFFFFF;
	width: 200px;
	height: 30px;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 10px 0;
}

.highlight {
	background-color: #DAD6D6;
}

#navList a {
	text-decoration: none;
	color: #FFFFFF;
}

#navlist a:hover {
	font-style: normal;
}


#navList li ul {
	position: absolute;
	display: none;
	z-index: 999;
}

#navList li:hover, #navList li ul li:hover {
	background-color: grey;
}

#navList li:hover ul {
	display: block;
	background-color: #313130;
	width: 200px;
  	padding: 5px 0;
  	margin-top: 0px;
	font-size: 20px;
}

li > ul.underMeny {
	display: none;
	visibility: hidden;
	height: auto;
	padding-top: 5px;
}

#navList li ul li {
	display: block;
	height: 30px;
	background-color: #313130;
	padding: 5px 0px;
	margin: 10px;
}

#ankerMeny {
	width: 200px;
	position: fixed;
	float: left;
	background-color: #FFF;
	margin: 0 auto;
}

#wrap{
	width: 1400px;
	margin: 0px auto;
}

#main {
	margin: 0 auto -100px;
	padding: 30px;
	width: 940px;
	min-height: 1000px;
	height: auto !important;
	height: 100%;
	background-color: #FFF;
}

#mainHeading {
	font-family: sans-serif;
}id

#footer{
	background-color: #313130;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
}


#footerContent {
	margin: 0 auto;
	width: 1000px;
	height: 250px;
	color: #313130;
}

#footerContent a {
	color: white;
}

.footerBox {
	vertical-align: top;
	display: inline-block;
	width: 300px;
	margin: 0;
	padding: 10px;
	font-size: 1em;
	color: white;
}

#siteMap li, #siteMap a{
	text-decoration: none;
	color: white !important; 
	list-style-type: none;
	text-align: left;
}