/*Design til oppskrift-sider*/

.oppskrift {
	width: auto;
	padding: 10px;
	display: block;
}

/*Alt med div her har å gjøre med åpne-lukke divene*/
.divSmall {
	overflow: hidden;
	transition: 0.2s;
	height: auto;
	display: block;
}

.divSmall:hover {
	cursor: pointer;
	background-color: #544B4B;
	color: white;
	transition: 0.2s;
}

.divBig {
   	margin: 0 auto;
	overflow: hidden;
	height: 0;
	transition: height 0.5s;
	display: none;
}
.divSmall:active {
   display: block;
	height: auto;
	transition: height 0.5s;
}
.divBig:active {
	display: block;
	height: auto;
	transition: height 0.5s;
}

.divBilde {
	float: left;
	margin-right: 20px;
}

.beskrivelse {
	font-style: italic;
	vertical-align: top;
	padding: 0 5px;
}

.divTekst {
	float: left;
	width: 580px;
}

.divBig img {
	display: block;
	margin: 0 auto;
}

.active {
	display: block;
	height: auto;
	transition: height 0.5s;
}

.hidden {
	display: none;
	height: auto;
	transistion: height 0.5s;
}

.divTips, .orginalKilde {
	display: inline-block;
}

ul.ingredienser {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

ul.fremgangsmate {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}

.fremgangsmate > li {
	list-style-type: decimal;
	text-indent: 1.5em;
	list-style-position: inside;
	display: inline-block;
}

.ingredienser > li {
	list-style-type: none;
	text-indent: 1.5em;
}

a {
	text-decoration: none;
	color: black;
}

li > ul.underMeny {
	display: none;
	visibility: hidden;
}

li {
	list-style-type: none;
}

/* Design til alltidHa */
.underSeksjon {
	width: 268px;
	padding: 10px;
	margin: 10px;
	border: 1px solid grey;
	border-radius: 4px;
	display: inline-table;
	text-align: left;
}

.underSeksjonHeight {
	height: 600px;
}

.underSeksjon > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.underSeksjon h3 {
	text-align: center;
	
}

