/*Design til oppskrift-sider*/

.oppskrift {
	width: auto;
	padding: 10px;
}

.oppskriftHeading {
	overflow: hidden;
	transition: 0.2s;
}

.oppskriftHeading:hover {
	cursor: pointer;
	background-color: grey;
	color: white;
	transition: 0.2s;
}

.oppskriftsBilde {
	float: left;
	margin-right: 20px;
}
.oppskriftsNavn {
	vertical-align: top;
	padding-left: 10px;
	height: auto;
}

.beskrivelse {
	font-style: italic;
	vertical-align: top;
}

.oppskriftsTekst {
	float: left;
	width: 600px;
}

ul.ingredienser {
	display: inline-block;
	width: 250px;
}

ul.fremgangsmate {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}

.fremgangsmate > li {
	list-style-type: decimal;
}

.ingredienser > li {
	list-style-type: disc;
}

a {
	text-decoration: none;
	color: black;
}


li > ul.underMeny {
	display: none;
	visibility: hidden;
}

li {
	list-style-type: none;
}

.oppskriftsDiv {
	/*display: none;*/
	margin-left: 20px;
	overflow: hidden;
	height: 0;
	transition: height 0.5s;

}
.oppskriftsDiv.active {
	display: block;
	height: 420px;
	transition: height 0.5s;
}

.oppskriftTips, .orginaloppskrift {
	padding-left: 37px;
}


/* Design til alltidHa */
.underSeksjon {
	width: 250px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 4px;
	display: inline-table;
	text-align: left;

}

.underSeksjon > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}