table, th, td {
    width: 800px;
    border: solid 1px black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 7px;
    text-align: left;
    font-size: 15pt;
    font-family: Serif;
}

ul.listeBullet {
    list-style-type: disc;
}

/*Alt med div her har å gjøre med åpne/lukke divene*/
.divSmall {
	overflow: hidden;
	transition: 0.2s;
	height: auto;
	display: block;
}

.divSmall:hover {
	cursor: pointer;
	background-color: #544B4B;
	color: white;
	transition: 0.2s;
}

.divBig {
   	margin: 0 auto;
	overflow: hidden;
	height: 0;
	transition: height 0.5s;
	display: none;
}

.active {
	display: block;
	height: auto;
	transition: height 0.5s;
}

.hidden {
	display: none;
	height: auto;
	transistion: height 0.5s;
}
