/*Design til oppskrift-sider*/

.oppskrift {
	width: auto;
	padding: 10px;
}

/*Alt med div her har å gjøre med åpne-lukke divene*/
.divHeading {
	overflow: hidden;
	transition: 0.2s;
	height: auto;
}

.divHeading:hover {
	cursor: pointer;
	background-color: #544B4B;
	color: white;
	transition: 0.2s;
}

.divBilde {
	float: left;
	margin-right: 20px;
}

.beskrivelse {
	font-style: italic;
	vertical-align: top;
}

.divTekst {
	float: left;
	width: 580px;
}

.innholdsDiv {
	margin: 0 auto;
	overflow: hidden;
	height: 0;
	transition: height 0.5s;
}

.innholdsDiv img {
	display: block;
	margin: 0 auto;
}

.innholdsDiv.active {
	display: block;
	height: auto;
	transition: height 0.5s;
}

.divTips, .orginalKilde {
	padding-left: 37px;
}

ul.ingredienser {
	display: inline-block;
	width: 250px;
}

ul.fremgangsmate {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}

.fremgangsmate > li {
	list-style-type: decimal;
}

.ingredienser > li {
	list-style-type: disc;
}

a {
	text-decoration: none;
	color: black;
}

li > ul.underMeny {
	display: none;
	visibility: hidden;
}

li {
	list-style-type: none;
}



/* Design til alltidHa */
.underSeksjon {
	width: 268px;
	height: 600px;
	padding: 10px;
	margin: 10px;
	border: 1px solid grey;
	border-radius: 4px;
	display: inline-table;
	text-align: left;
}

.underSeksjon > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.underSeksjon h3 {
	text-align: center;
	
}

