table, th, td {
    width: 800px;
    border: solid 1px black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 7px;
    text-align: left;
    font-size: 15pt;
    font-family: Serif;
}

ul.listeBullet {
    list-style-type: disc;
}
