#okoConent {
    width: 700px;
    text-align: left;
}

ul.listePunkt {
    list-style-type: disc;
}


/*Alt med div her har � gj�re med �pne/lukke divene*/
.divSmallOko {
	overflow: hidden;
	transition: 0.2s;
	height: auto;
	display: block;
}

.divSmallOko:hover {
	cursor: pointer;
	background-color: #544B4B;
	color: white;
	transition: 0.2s;
}

.divBigOko {
   	margin: 0 auto;
	overflow: hidden;
	height: 0;
	transition: height 0.5s;
	display: none;
}

.active {
	display: block;
	height: auto;
	transition: height 0.5s;
}

.hidden {
	display: none;
	height: auto;
	transistion: height 0.5s;
}
