table, th, td {
    width: 800px;
    border: solid 1px black;
    border-collapse: collapse;
    margin-left: auto;
    line-height: 1.5em;
    margin-right: auto;
}

th, td {
    padding: 7px;
    text-align: left;
    font-size: 14pt;
    font-family: Helvetica, sans-serif;
}



ul.listBullet {
    list-style-type: disc;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    width: 900px;
    margin-left: -10px;
}

li.listBullet {
    padding: 20px;
}
